/* ============== COMMON STYLES ============== */
:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --white: #FFFFFF;
    --navy-blue: #2E2F42;
    --slate: #434455;
    --cloud: #F4F4FD;
    --cornflower:#E7E9FC;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.0032em;
    color: var(--slate);
}

.section-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.0072em;
    text-transform: capitalize;
    color: var(--navy-blue);
}
/* ============== COMMON STYLES ============== */

/* ============== HEDER STYLES ============== */
.logo{
    font-family: 'Raleway', sans-serif;
    color: var(--navy-blue);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.0054em;
    text-transform: uppercase;       
}

.accent {
    color: var(--iris);
}

.nav-link {
    color: var(--navy-blue);
    font-weight: 500;
    font-style: normal;
}

.address-link {
    color: var(--slate);
    font-family: Roboto;
    font-style: normal;
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
    color: var(--ocean);
}
/* ============== HEDER STYLES ============== */

/* ============== HERO STYLES ============== */
.hero{
    background-color: var(--navy-blue);
}

.hero-title {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.0112em;
    color: var(--white);
}

.btn {
    color: var(--white);
    font-weight: 500;
    letter-spacing: 0.0064em;
    background-color: #4D5AE5;
}

.btn:hover,
.btn:focus {
    background-color: var(--ocean);
}

/* ============== HERO STYLES ============== */

/* ============== Features STYLES ============== */

.subtitle {
    color: var(--navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.004em;
}


/* ============== Features STYLES ============== */


/* ============== Work STYLES ============== */




/* ============== Work STYLES ============== */

/* ============== Footer STYLES ============== */

.footer {
    background-color: var(--navy-blue);
}

.footer-logo {
color: var(--cloud);
}

.footer-text{
color: var(--cloud);
}

/* ============== Footer STYLES ============== */

/* ============== PORTFOLIO STYLES ============== */

.portfolio-btn{
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    background: var(--cloud);
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.0064em;
    color: var(--iris);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background: var(--ocean);
    counter-reset: var(--white);
}
/* ============== PORTFOLIO STYLES ============== */